<%- include("partials/header"); -%>


    <h1>Skills</h1>
    <p><%= startingContent %></p>

    <div class="container-fluid">
    <h2>Embedded Systems Development</h2>

    <li>Hardware<ul><li>STM32F446RE</li><li>TMC4C129 with CC3100 WIFI</li><li>PIC</li><li>ESP8266</li><li>Arduino</li></ul></li><li>Software<ul><li>STM32CubeMX</li><li>STM32CubeIDE</li><li>Eclipse</li><li>Kiel</li><li>Arduino</li></ul></li></ul>
    <h2>Diagnostic Tools</h2>
    <li>Oscilloscope</li><li>Logic Analyzer</li><li>Digital Multimeter</li><li>Programmable DC Electronic Load</li></ul>
    <h2>Web Development</h2>
    <li>Software<ul><li>VS Code</li></ul></li><li>Front-End<ul><li>HTML</li><li><a href="https://browna38.github.io/CSS_Site/" data-type="URL" data-id="https://browna38.github.io/CSS_Site/">CSS</a></li><li><a href="https://browna38.github.io/SimonGame/" data-type="URL" data-id="https://browna38.github.io/SimonGame/">JavaScript</a></li><li>JQuery</li><li>Bootstrap</li><li>Reactjs</li><li>Content Management System (CMS) - Wordpress and Grav</li></ul></li><li>Back-End<ul><li>NodeJS</li><li>NPM</li><li>MongoDB</li><li>Mongoose</li><li>Deployment on Heroku</li><li>git version control</li><li>Oauth authentication</li></ul></li></ul>
    <h2>App Development</h2>
    <li>Flutter<ul><li><a href="https://play.google.com/store/apps/developer?id=BW+Prototyping" data-type="URL" data-id="https://play.google.com/store/apps/developer?id=BW+Prototyping">Deployment on google play</a></li><li>iOS and Android</li></ul></li></ul>
    <h2>Computer Aided Design (CAD)</h2>
    <li>AutoCAD</li><li>Fusion360</li><li>Google Sketchup</li><li>NX</li><li>Solidworks</li><li>CATIA</li></ul>
    <h2>Lean Six Sigma</h2>
    <li>Operational Excellence Model<ul><li>ENG 7510</li></ul></li><li>5S</li><li>Key Performance Indicators</li><li>Minitab - Data Analysis, Statistics, and Process Improvement software</li><li>Root Cause Analysis</li><li>Change Management</li></ul>
    </div>
    <%- include("partials/footer"); -%>